<%= form_for @venue do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name, 'Venue Name' %>
        <%= f.text_field :name, {class: "form-control", 
                                 id: "venue_name",
                                 required: "required"} %>
        <%# <%= f.text_field :name, {class: "form-control", 
        <%#                          id: "venue_name",
        <%#                          required: "required"} %>
      </div>

      <div class="form-group">
        <%= f.label :link, 'Their website address (optional)' %>
        <%= f.text_field :link, {class: "form-control",
                                 id: "venue_link"} %>
      </div>

      <div class="form-group">
        <%= f.label :address, 'Address (optional)' %>
        <%= f.text_field :address, {class: "form-control", 
                                    id: "venue_address"} %>
      </div>

      <div class="form-group">
        <table>
          <tr>
            <th> <%= f.label :venue_type %> </th>
            <th> <%= f.label :smoking_policy %> </th>
          </tr>
          <tr>
            <td>
              <%= f.select :venue_type,
                options_for_select(@venue.all_venue_types, 
                                   @venue.venue_type),
                {class: "form-control"} %>
            </td>
            <td>
              <%= f.select :smoking_policy, 
                options_for_select(@venue.all_smoking_policies, 
                                   @venue.smoking_policy),
                {class: "form-control", id: "venue_smoking_policy"} %>
            </td>
          </tr>
        </table>


      </div>

      <div class="form-group">
        <%= f.label :description, 'Describe the place (optional)' %>
        <%= f.text_area :description, {class: "form-control", 
                                       id: "venue_description",
                                       rows: 3} %>
      </div>

      <div class="form-group">
        <%= label :email, "Your email address (Don't worry, spam is for losers)" %>
        <%= text_field_tag :email, @sender_email, {class: "form-control",
                                         id: "email"} %>
      </div>

      <div class="spacer10"></div>

      <%= submit_tag "Submit", id: "submit", class: "btn btn-primary" %>
    </div>

    <div class="col-md-6">
      <div id="map-search"></div>

      <div class="spacer10"></div>

      <div class="col-xs-6">
        <%# <%= label_tag 'latitude', 'Lat:' %>
        <%= f.text_field :latitude, { id: "input-lat",
                                      class: "form-control",
                                      placeholder: "Click map to fill latitude",
                                      readonly: "readonly"} %>
      </div>

      <div class="col-xs-6">
        <%# <%= label_tag 'longitude', 'Lng:' %>
        <%= f.text_field :longitude, { id: "input-lng",
                                       class: "form-control",
                                       placeholder: "Click map to fill longitude",
                                       readonly: "readonly" }%>
      </div>
    </div>
  </div>
<% end %>
