<% provide(:title, "All Venues") %>

<div class="col-md-3 max-height">
  <h1>No smoking</h1>
  <p>The National Institute For Cancer Prevention At Parties</p>

  <div class="scrollable">
    <ul class="list-group venues">
      <% @venues.each do |venue| %>
        <li class="list-group-item venue" data-venue-id="<%=venue.id%>" data-details-page="<%=venue_path venue%>">
          <h4>
            <%= venue.name %>
          </h4>
          <h6>
            <%= venue.link %>
            <small> - <%= venue.readable_venue_type %></small>
          </h6>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div id="map-canvas"></div>
