<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= hidden_field_tag "venue_id", @venue.id %>
      <p>
        <strong>Name:</strong>
        <%= @venue.name %>
      </p>

      <p>
        <strong>Latitude:</strong>
        <%= @venue.latitude %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @venue.longitude %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= @venue.link %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @venue.address %>
      </p>

      <p>
        <strong>Venue type:</strong>
        <%= @venue.venue_type %>
      </p>

      <p>
        <strong>Smoking policy:</strong>
        <%= @venue.smoking_policy %>
      </p>

    </div>
    <div class="col-md-6">
      <div id="map-show">

      </div>
    </div>
  </div>


  <%= link_to 'Edit', edit_venue_path(@venue) %> |
  <%= link_to 'Back', venues_path %>

</div>
