<html>
  <head></head>
  <body>
    <p>
      Someone has submitted a new venue for your review on fun fara fum
    </p>
    <p>
      <h4>Venue Name</h4>
      <span id="name"><%= @venue.name %></span>
    </p>
    <p>
      <h4>Latitude</h4>
      <span id="latitude"><%= @venue.latitude %></span>
    </p>
    <p>
      <h4>Longitude</h4>
      <span id="longitude"><%= @venue.longitude %></span>
    </p>
    <p>
      <h4>Link</h4>
      <span id="link"><%= @venue.link %></span>
    </p>
    <!-- <p> -->
    <!--   <h4>Address</h4> -->
    <!--   <span id="address"><%= @venue.address %></span> -->
    <!-- </p> -->
    <p>
      <h4>Venue Type</h4>
      <span id="venue_type"><%= @venue.venue_type %></span>
    </p>
    <p>
      <h4>Smoking Policy</h4>
      <span id="smoking_policy"><%= @venue.smoking_policy %></span>
    </p>
    <p>
      <h4>Description</h4>
      <span id="description"><%= @venue.description %></span>
    </p>

    <% if @email != "" %>
      <p>
        <h4>Submitter's email</h4>
        <span id="email"><%= @email %></span>
      </p>
    <% else %>
      <p>The submitter did not leave an email</p>
    <% end %>
    <p>
    
    </p>
  </body>
</html>
